<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Tavis.Home" version="0.6.0-beta5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Tavis.Link" version="2.1.0-beta" targetFramework="portable45-net45+win8+wp8" />
  <package id="Tavis.Problem" version="0.9.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="Tavis.UriTemplates" version="0.6.6-beta2" targetFramework="portable45-net45+win8+wp8" />
</packages>